<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subject Management</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nobile&family=Mohave:wght@400&family=Amasis+MT+Pro+Medium&display=swap">
  <link rel="stylesheet" type="text/css" href="/public/css/concept.css">
  <link rel="icon" href="../public/image/LOGO_LMM.svg" type="image/x-icon">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
  <nav>
    <a class="logo" href="/home" >
      <img src="../public/image/baner.svg" alt="LMM" href="/home" />
    </a>
    <ul class="desktop-menu">
      <li><a href="/home">Home</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <div class="usermenu">
      <ul>
        <span class="logout">You are logged in! ( <a href="/logout">Log out</a>)</span>

      </ul>
    </div>
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </nav>
  <div class="menubar">
    <h2>Dashboard</h2>
    <ul>
      <li class="accMana" id="add-btn"> <a href="/account-management">Accounts Management</a></li>
      <li id="add-btn"> <a href="/material-management">Material Management</a></li>
      <li class="accMana" id="add-btn"> <a href="/subject-management">Subjects Management</a></li>

    </ul>
  </div>
  <main class="nav-drawer">
    <div class="contentForm" id="form">
      <form action="/account-management/edit-profile/updated-user" method="POST">
        <div class="container">
          <h1>Edit User's Profile</h1>
          <div class="col-md-8"> <!-- Phần thứ hai: cập nhật/sửa đổi thông tin người dùng -->
            <form action="/account-management/edit-profile/updated-user" method="POST">
              <!-- Form gửi dữ liệu lên server -->
              <input hidden name="id" value="<%=userData.id %>" />
              <div class="form-group"> 
                <input type="text" name="account_firstname" id="account_firstname" value="<%=userData.account_firstname %>" />      
              </div>
              <div class="form-group"> 
                <input type="text" name="account_lastname" id="account_lastname" value="<%=userData.account_lastname %>" />
              </div>
              <div class="form-group"> 
                <input type="text" name="account_username" id="account_username" value="<%=userData.account_username %>" />      
              </div>
              <div class="form-group"> 
                <input type="text" name="account_username" id="account_username" placeholder="Username" required> 
              </div>
              <div class="form-group">
                <input type="email" name="account_email" id="account_email" value="<%=userData.account_email %>" />
              </div>
              <div class="form-group"> 
                <input name="account_phonenumber" id="account_phonenumber" value="<%=userData.account_phonenumber %>" />
              </div>
              <div class="form-group"> 
                <input name="account_address" id="account_address" value="<%=userData.account_address %>" /> <!-- Input textarea cho Address -->
              </div>
              <div class="form-group ">
                <label for="inputZip">Gender: </label>
                <select name="account_gender" id="account_gender" value="<%=userData.account_gender %>">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
                <!-- <label for="actor">Actor: </label>
                <select name="actor" id="actor" value="<%=userData.actor %>">
                  <option value="Admin">Admin</option>
                  <option value="CRDD">CRDD</option>
                  <option value="AD">AD</option>
                  <option value="Teacher">Teacher</option>
                  <option value="Student">Student</option>
                </select> -->
              </div>


              <div class="form-group"> <!-- Nhóm input cho nút xác nhận cập nhật -->
                <a href="/account-management" id="back">Back</a>
                <button class="add-user-btn" type="submit" name="submit" id="submit">Update</button>

              </div>
            </form>
          </div>
        </div>
      </form>
    </div>


    </div>
  </main>
  <script>
    const mobileNav = document.querySelector(".hamburger");
    const navbar = document.querySelector(".menubar");

    const toggleNav = () => {
      navbar.classList.toggle("active");
      mobileNav.classList.toggle("hamburger-active");
    };

    mobileNav.addEventListener("click", () => toggleNav());

  </script>
</body>

</html>