<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Subject</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Nobile&family=Mohave:wght@400&family=Amasis+MT+Pro+Medium&display=swap">
  <link rel="stylesheet" type="text/css" href="/public/css/concept.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="wrapper" id="wrapper">

        <main class="nav-drawer page-content-wrapper" id="page-content-wrapper">
    <div class="contentForm" id="form">
      <form action="/subject-management/update-subjects/subject-updated" method="POST">
        <div class="container">
          <h1>Update Subject</h1>
          <div class="col-md-8">
            <input hidden name="id" value="<%=subjectData.id %>" />
            <div class="form-group">
              <input  type="text" name="subject_code" id="subject_code" value="<%=subjectData.subject_code %>">
            </div>

            <div class="form-group">
              <input type="text" name="subject_name" id="subject_name" value="<%=subjectData.subject_name %>">
            </div>
            <div class="form-group">
              <!-- <textarea type="text" name="subject_description" id="subject_description" value="<%=subjectData.subject_description %>">

              </textarea> -->
              <input type="text" name="subject_description" id="subject_description"
                value="<%=subjectData.subject_description %>">
            </div>
            <div class="form-group">
              <input type="text" name="subject_type" id="subject_type" value="<%=subjectData.subject_type %>">
            </div>
            <button class="add-user-btn" type="submit" name="submit" id="submit">Update</button>

            <a href="/subject-management" id="back">Back</a>

          </div>
        </div>
    </div>
    </form>
    </div>


    </div>
  </main>
</body>

</html>